<div class="alert alert-danger error" *ngIf="isError">{{ errorMessage }}</div>
<div *ngIf="people; else noData">
  <h3 id="male">Male Cats</h3>
  <ul>
    <li *ngFor="let male of maleCats; let i = index" [attr.id]="'male-' + i">{{male}}</li>
  </ul>

  <h3 id="female">Female Cats</h3>
  <ul>
    <li *ngFor="let female of femaleCats; let i = index" [attr.id]="'female-' + i">{{female}}</li>
  </ul>
</div>
<ng-template #noData>
  <div class="alert alert-warning warn">{{ noDataFound }}</div>
</ng-template>